*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

header{
    height: 80%;
    background-color: black;
}

#fotoum{
    position: absolute;
    opacity: 8%;
    width: 100%;
    height: 80%;
}

nav, main{
    position: relative;
}

#sobremim, #projetos, #seila{
    text-decoration: none;
    color: white;
}